
@{
    ViewBag.Title = "DivideByZeroException";
}

<div class="d-flex justify-content-center my-5">
    <div class="alert alert-danger"><h2><strong>DivideByZeroException</strong> - You cannot divide by zero!</h2></div>
</div>

